  // Use GOV.UK Frontend
@use "pkg:govuk-frontend/dist/govuk" as * with (
  $govuk-assets-path: "/assets/",
  $govuk-new-organisation-colours: true,
  $govuk-brand-colour: #007C91,
  $govuk-link-colour: #007C91,
  $govuk-page-width: 1100px
);

// Use GOV.UK Eleventy Plugin components
@use "pkg:@x-govuk/govuk-eleventy-plugin";

.govuk-header__logo img {
  vertical-align: bottom;
}

.app-inset-text--note {
  background-color: govuk-tint(govuk-colour("blue"), 90%);
  border-color: govuk-colour("blue");
}

.app-inset-text--tip {
  background-color: govuk-tint(govuk-colour("green"), 75%);
  border-color: govuk-colour("green");
}