  // Use GOV.UK Frontend
@use "pkg:govuk-frontend/dist/govuk" as * with (
  $govuk-assets-path: "/assets/",
  $govuk-page-width: 1100px,
  $govuk-functional-colours: (
    brand: #007C91,
    link: #007C91,
    link-hover: #004466,
    link-visited: #333366
  )
);

// Use GOV.UK Eleventy Plugin components
@use "pkg:@x-govuk/govuk-eleventy-plugin";

.govuk-header__logo img {
  vertical-align: bottom;
}

.app-inset-text--note {
  background-color: govuk-tint(govuk-colour("blue"), 90%);
  border-color: govuk-colour("blue");
}

.app-inset-text--tip {
  background-color: govuk-tint(govuk-colour("green"), 75%);
  border-color: govuk-colour("green");
}