name: Validate, test, build, and push docs container for dev and test

on:
  workflow_dispatch:
  push:
    paths:
      - Dockerfile
      - 'docs/**'
      - 'src/**'
      - eleventy.config.js
      - package.json
      - .hadolint.yaml
      - test/docker

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ukhsa-collaboration/standards-org
  CI: true

jobs:
  check-image:
    name: Validate the image definition
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Lint Dockerfile
        run: docker run --rm -i -v './.hadolint.yaml:/.hadolint.yaml' hadolint/hadolint < Dockerfile

      - name: Validate build configuration
        uses: docker/build-push-action@v6
        with:
          call: check

  build-test-and-push-image:
    name: Build the image, test it, and push to GHCR
    needs: check-image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Use Node.js LTS
        uses: actions/setup-node@v6
        with:
          node-version: '22.x'
          cache: 'npm'

      - name: Install node dependencies
        run: npm ci

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and export to Docker
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          load: true
          tags: ${{ steps.meta.outputs.tags }}

      - name: Run tests
        run: npm run test:container

      - name: Build and push image
        id: push
        uses: docker/build-push-action@v6
        if: success() && github.ref == 'refs/heads/main'
        with:
          context: .
          push: true
          provenance: true
          tags: ${{ steps.meta.outputs.tags }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        if: success() && github.ref == 'refs/heads/main'
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
